@import '02-variables';
@import '03-mixin';

header {
    .container {
        position: relative;
        padding-top: 30px;
        @include FlexAllCenter;
        @include Logo;
        overflow: hidden;


        .navigation {
            ul {
                @include FlexAllCenter();
                gap: 1.875rem;

                li {

                    a {
                        color: $white;
                        font-size: 0.875rem;
                        font-weight: 400;
                    }
                }
            }
        }
    }


}
