@import '02-variables';
@import '03-mixin';

header {
    .container {
        position: relative;
        padding-top: 30px;
        @include FlexAllCenter;
        @include MarginHeader;
        

        .logo {
            a {
                color: white;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 2rem;
                span {
                    color: $red;
                }
            }

        } 

        .navigation {

            ul {
                @include FlexAllCenter();
                gap: 30px;

                li {

                    a {
                        color: $white;
                        font-size: 0.875rem;
                        font-weight: 400;
                    }
                }
            }
        }
        .navigation::after{
            content: "";
            display: block;
            position: absolute;
            width: 730px;
            height: 747px;
            background-image: url(/assets/image/deco1.png);
            top: -114px;
            left: 729px;
        }
    }


}
