@import '02-variables';
@import '03-mixin';

.lorem {
    .container {
        @include MarginHeader;
        @include FlexAllCenter;
        gap: 145px;
        margin-top: 246px;


        .pic1 {
            img {
                width: 100%;
            }
        }
        .lorem-article {
            position: relative;
            h3 {
                color: rgba(255, 255, 255, 0.50);
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 2rem;
                letter-spacing: 3px;
                text-transform: uppercase;
                margin-bottom: 16px;
            }

            .title {
                color: $white;
                font-size: 3.5rem;
                font-style: normal;
                font-weight: 300;
                line-height: 64px;
                width: 450px;
                margin-bottom: 30px;
            }

            .title2 {
                color: $white;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                margin-bottom: 28px;
            }


            .description {
                color: rgba(255, 255, 255, 0.50);
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                margin-bottom: 28px;
            }

            .red-btn {
                @include btn;
                background-color: $red;
                color: $white;
            }
        }
        .lorem-article::before {
            content: "";
            display: block;
            position: absolute;
            width: 210px;
            height: 210px;
            background-image: url(/assets/image/Ellipse.svg);
            top: 73px;
            left: 297px;
        }
    }

}